main {
    flex: 1 0 auto;
}
h4 {
    text-align: center;
    color: rgba(0, 101, 148, 0.7);
    text-shadow: 1px 1px #c9c9c9;
}
/* #spacing{
    margin: 30%;
} */

.page-footer {
    position: fixed;
    margin-bottom: 0%;
    bottom: 0;
    width: 100%;
}


/* Nav bar style changes */

.nav-wrapper {
    background: #0cb9e4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px #777474;
}


/* Name style changes */

nav .brand-logo {
    margin-left: 5%;
    color: #d7f7ff;
}


/* Home and About nav bar styling */

nav ul a {
    font-size: 1.5rem;
    color: #d7f7ff;
}
/* style updates on the mobile nav bar*/
.sidenav{
    height: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.modal-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ModalPicture{
    border-radius: 5%;
}

.modal-footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    box-shadow: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: rgba(0, 101, 148, 0.3);
    color: rgb(65, 65, 65);
    transform: rotateY(180deg);
}

body {
    background: rgba(255, 255, 255, 0.3);
}

@keyframes coverflow {
    0%,
    10% {
        opacity: 1;
        transform: none;
        z-index: 10;
    }
    25%,
    35% {
        opacity: 0.2;
        transform: translate3d(-170px, 0, 0) scale(0.6);
    }
    50% {
        opacity: 0;
        transform: translate3d(-190px, 0, 0) scale(0.6);
    }
    60% {
        opacity: 0;
        transform: translate3d(190px, 0, 0) scale(0.6);
    }
    75%,
    85% {
        opacity: 0.2;
        transform: translate3d(170px, 0, 0) scale(0.6);
    }
}

#searchBar {
    align-self: center;
    width: 40%;
    display: flex;
    z-index: 9;
}

#searchBox {
    border-radius: 50px;
    border-color: #0069be;
    background: rgba(219, 246, 255, 0.6);
    text-align: center;
    width: 75%;
    float: left;
}

.searchBtn {
    padding: 3px;
    cursor: pointer;
    float: left;
    width: 50px;
}

.card-header {
    background: rgba(253, 253, 253, 0.6);
}

.adv {
    text-align: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#accordion {
    align-self: center;
    width: 100%;
}

.dropdown {
    /* float: left;*/
    width: -webkit-fill-available;
}
/* advanced dropdown text styling */
.advBody {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgba(43, 42, 42, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* I don't think this is necessary */
/* #collapseadv {
    justify-content: space-evenly;
} */

#photographer {
    /* float: left; */
    border: 1px solid rgba(119, 116, 116, 0.3);
    width: 250px;
    border-radius: 2%;
}

#AdvSearh {
    text-align: center;
}

#AdvSearchBtn {
    margin: 2px;
    padding: 2px;
}

.dropdown-toggle {
    width: 100px;
}


/* spacing and image position */

#imgSearchFlip {
    float: left;
    margin: 1%;
}

#imgSearch {
    justify-content: space-evenly;
    margin-left: 6.5%;
}
#imgSearchFlip:last-child {
    margin-bottom: 10%
  }


/* Three columns side by side */

.column {
    flex: 1 0 auto;
}


/* added styling to footer */

.page-footer {
    background-color: #0cb9e4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d7f7ff;
    text-shadow: 1px 1px #8b8b8b;
    /* position: fixed; */
    margin-bottom: 0%;
    bottom: 0;
    width: 100%;
    /* margin-top: 45%; */
}


.email-address{
    font-size:1.3vw;
}

/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    #accordion {
        align-self: center;
        width: 100%;
    }
    #searchBox {
        width: 60%;
    }
    .advBody {
        display: contents;
        justify-content: space-around;
    }
    .flip-card {
        width: 50%;
    }
    .email-address {
        font-size:1rem;
    }
}


/* Display the columns below each other instead of side by side on small screens */


/* Three columns side by side */

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 680px) {
    .column {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width:993px) {
    .email-address{
        font-size:80%;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        /* font-size: 15px; */
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(119, 116, 116, 0.3);
}


/* Some left and right padding inside the container */

.container {
    /* padding: 0 16px; */
    margin: 0 auto;
    font-size: small;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.advForm {
    display: inline-flex;
    width: 100px;
    width: -webkit-fill-available;
}

#modal1{
    height: 450px;
    width: 600px;
}

.ModalPicture {
   height:340px;
   width:530px;
}



@media screen and (max-width: 607px) {
    #modal1 {
        height:340px;
        width: 400px;
    }

    .ModalPicture {
        height: 250px  !important;
        width: 340px  !important;
    }

    
}



@media screen and (max-width: 375px) {
    #modal1 {
        height:290px;
        width: 330px;
    }

    .ModalPicture {
        height: 200px  !important;
        width: 290px  !important;
    }
    

    
}